.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.App-header {
  background-color: #7579e7;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  flex-grow: 1;
  text-align: center;
  padding: 25px;
  background: #9ab3f5;
}

footer {
  padding: 2px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #b9fffc;
  font-size: small;
  text-align: left;
}

header {
  padding: 15px;
}