.Wrapper {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    font-size: large;
}

.Strong {
    color: red;
}

/* https://www.w3schools.com/howto/howto_css_loader.asp */
.Loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #9ab3f5; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.5s linear infinite;
    margin: 10px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }